.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  background-color: black;
  color: #fff !important;
  width: 100%;
}

.nav-link {
  color: #fff !important;
}

.nav-link:after {
  border-bottom: solid 1px rgb(6, 158, 6);
}

.nav-link:hover {
  color: rgb(6, 158, 6) !important;
}

.cart-items,
.wishlist-item {
  margin-left: -7px;
  color: rgb(6, 158, 6);
  font-weight: bold;
}

.home-page {
  width: 100%;
}
.home-page .carousel-image {
  margin-top: 40px !important;
  width: 96%;
  margin: auto;
  background-color: #d2dbe4;
  height: 530px;
}
.home-page .carousel-caption {
  position: absolute;
  right: auto;
  left: 1%;
  color: black;
  margin-bottom: 7rem;
  font-family: "EB Garamond", serif;
}
.home-page .carousel-caption h3 {
  padding-right: 120px;
  margin: 40px;
}
.home-page .carousel-caption .shop-link {
  margin-right: 20rem;
  margin-left: 10rem;
  padding: 0.6rem;
  font-size: 1.5rem !important;
  color: rgb(6, 158, 6);
  font-weight: 600 !important;
}
.home-page .carousel-item-image {
  width: 50%;
  margin: auto;
  height: 500px;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 30px;
  background-position: center;
  background-size: cover;
}

.footer-page {
  width: 100%;
  height: 50vh;
}
.footer-page .row {
  width: 100%;
}
.footer-page .footer-category-logo {
  color: #bcbec0 !important;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.footer-page .footer-category {
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.footer-page .footer-category span,
.footer-page .footer-category a,
.footer-page .footer-category .footer-link {
  text-decoration: none;
  color: #bcbec0 !important;
}
.footer-page .footer-category span:hover,
.footer-page .footer-category a:hover,
.footer-page .footer-category .footer-link:hover {
  color: rgb(6, 158, 6) !important;
  cursor: pointer;
}
.footer-page img {
  width: 6rem;
  height: 3rem;
  margin: auto;
}

.slider {
  margin: 0;
  overflow: "hidden";
  padding: 0;
  background-color: #fff;
}

.slider img {
  width: 50%;
  height: 15vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

.react-multi-carousel-track {
  transition: transform 2000ms ease-in-out !important;
}

.bestseller,
.shop-page,
.wishlist-page,
.recommended-product {
  width: 100%;
}
.bestseller h3,
.shop-page h3,
.wishlist-page h3,
.recommended-product h3 {
  margin: 7rem 0 3rem 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 34px;
  color: rgb(6, 158, 6);
}
.bestseller .products,
.shop-page .products,
.wishlist-page .products,
.recommended-product .products {
  margin-left: 27px !important;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
  box-sizing: border-box;
  margin: auto;
  padding-top: 2rem;
}
.bestseller .products .product,
.shop-page .products .product,
.wishlist-page .products .product,
.recommended-product .products .product {
  position: relative;
}
.bestseller .products .product .product-image-inner,
.shop-page .products .product .product-image-inner,
.wishlist-page .products .product .product-image-inner,
.recommended-product .products .product .product-image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 33px 37px;
  transform: translateY(20px);
  transition: opacity 0.32s ease-out, transform 0.45s cubic-bezier(0.26, 0.57, 0.14, 0.81);
  z-index: 3;
  opacity: 0;
  color: black;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold !important;
}
.bestseller .products .product .product-image-inner .add-cart-btn,
.shop-page .products .product .product-image-inner .add-cart-btn,
.wishlist-page .products .product .product-image-inner .add-cart-btn,
.recommended-product .products .product .product-image-inner .add-cart-btn {
  left: 50%;
  position: absolute !important;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.4rem 2rem;
  width: 65%;
  margin: auto;
  border: 1px solid rgb(221, 219, 219);
  background-color: rgb(221, 219, 219);
  color: black;
  cursor: pointer;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
.bestseller .products .product .product-image-inner .heart-btn,
.shop-page .products .product .product-image-inner .heart-btn,
.wishlist-page .products .product .product-image-inner .heart-btn,
.recommended-product .products .product .product-image-inner .heart-btn {
  left: 50%;
  position: absolute !important;
  top: 50%;
  transform: translate(-50%, 75%);
  padding: 0.3rem 0.6rem;
  border: 1px solid rgb(221, 219, 219);
  background-color: rgb(221, 219, 219);
  border-radius: 50%;
  color: red;
  text-align: center;
}
.bestseller .products .product .heart-btn-hover,
.shop-page .products .product .heart-btn-hover,
.wishlist-page .products .product .heart-btn-hover,
.recommended-product .products .product .heart-btn-hover {
  left: 50%;
  position: absolute !important;
  top: 50%;
  transform: translate(-50%, 75%);
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: red;
  box-shadow: 0 0 3px #fff;
  text-shadow: 0 0 2px #fff;
}
.bestseller .products .product .heart-btn:hover,
.shop-page .products .product .heart-btn:hover,
.wishlist-page .products .product .heart-btn:hover,
.recommended-product .products .product .heart-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: red;
  box-shadow: 0 0 3px #fff;
  text-shadow: 0 0 2px #fff;
}
.bestseller .products .product .add-cart-btn:hover,
.shop-page .products .product .add-cart-btn:hover,
.wishlist-page .products .product .add-cart-btn:hover,
.recommended-product .products .product .add-cart-btn:hover {
  cursor: pointer;
  color: rgb(6, 158, 6);
  box-shadow: 0 0 3px rgb(6, 158, 6);
  text-shadow: 0 0 2px rgb(6, 158, 6);
}
.bestseller .products .product .show-section .product-image-inner,
.shop-page .products .product .show-section .product-image-inner,
.wishlist-page .products .product .show-section .product-image-inner,
.recommended-product .products .product .show-section .product-image-inner {
  opacity: 1 !important;
  transform: translateY(0px);
}
.bestseller .products .product .product-image .bestseller-image,
.shop-page .products .product .product-image .bestseller-image,
.wishlist-page .products .product .product-image .bestseller-image,
.recommended-product .products .product .product-image .bestseller-image {
  z-index: 1;
  width: 310px;
  height: 420px;
}

.about-page {
  width: 100%;
}
.about-page .about-us-image {
  position: relative;
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}
.about-page .about {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  background: #a4a2a2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 39%, #fff 100%);
}
.about-page .about-text-image {
  margin: 7rem 0 4rem 0;
  display: flex;
}
.about-page .about-text-image .about-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}
.about-page .about-text-image .about-img img {
  width: 18rem;
  height: 22rem;
  margin-right: 15px;
}
.about-page .about-text-image .about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}
.about-page .about-text-image .about-text h3 {
  padding: 0 7rem 0 2rem;
  font-family: "Josefin Sans", sans-serif;
}
.about-page .about-text-image .about-text p {
  color: #a4a2a2;
  text-align: left;
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 0 2rem 0 2rem;
}
.about-page .features {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40vh;
  width: 100%;
}
.about-page .features div {
  width: 22%;
  height: 30vh;
  padding: 2rem;
}
.about-page .features h4 {
  color: rgb(6, 158, 6);
}

.shop-page {
  width: 100%;
}

.cart-page {
  width: 100%;
  height: 100vh;
  padding: 0 3rem 0 3rem;
}
.cart-page .table {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.cart-page .table .item-image-name .item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.cart-page .table .remove-item {
  cursor: pointer;
  margin: auto;
}
.cart-page .table .item-quantity span {
  padding: 0 10px 0 0;
}
.cart-page .table .item-quantity .add-item-btn,
.cart-page .table .item-quantity .remove-item-btn {
  border: none;
}
.cart-page .table .item-quantity .remove-item-btn {
  margin-left: -5px;
}
.cart-page .cart-total-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart-page .cart-total-info .total-price-info {
  display: flex;
}
.cart-page .cart-total-info .cart-buy {
  display: flex;
}
.cart-page .cart-total-info .cart-buy button {
  padding: 0 3rem 0 3rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(6, 158, 6);
  border: 1px solid rgb(6, 158, 6);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}
.cart-page .promo-code {
  text-align: left;
}
.cart-page .promo-code input {
  padding-bottom: 0.25rem;
}
.cart-page .promo-code button {
  margin-left: 15px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(6, 158, 6);
  border: 1px solid rgb(6, 158, 6);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.empty-cart,
.empty-wishlist {
  width: 100%;
  height: 50vh;
  margin: auto;
  padding-top: 5rem;
  font-family: "Josefin Sans", sans-serif;
}
.empty-cart .empty-cart-shop,
.empty-wishlist .empty-cart-shop {
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
}
.empty-cart .empty-cart-shop:hover,
.empty-wishlist .empty-cart-shop:hover {
  color: rgb(6, 158, 6);
}

.our-team-page {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
}
.our-team-page h2 {
  margin: 15px 0 15px 10px;
  text-align: left;
  padding: 10px;
}
.our-team-page .our-team {
  width: 100%;
  display: flex !important;
  flex-wrap: wrap;
  gap: 20px;
}
.our-team-page .our-team .our-team-info {
  margin-bottom: 40px;
  text-align: left;
  font-size: 20px;
}
.our-team-page .our-team .our-team-info span {
  color: #a4a2a2;
}
.our-team-page .our-team img {
  width: 20rem;
  height: 25rem;
}

.single-product {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
.single-product .single-product-image img {
  width: 450px;
  height: 500px;
  background-position: center;
  background-size: cover;
}
.single-product .single-product-info {
  text-align: left;
}
.single-product .single-product-info .single-product-info-text {
  width: 400px;
}
.single-product .single-product-info .cart-wish {
  display: flex;
}
.single-product .single-product-info .cart-wish .single-product-add-cart {
  margin-right: 10px;
  padding: 0.4rem 1rem;
  border: 1px solid rgb(221, 219, 219);
  background-color: rgb(221, 219, 219);
  color: black;
  cursor: pointer;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
.single-product .single-product-info .cart-wish .heart-btn {
  left: 50%;
  top: 50%;
  padding: 0.4rem 0.8rem;
  border: 1px solid rgb(221, 219, 219);
  background-color: rgb(221, 219, 219);
  border-radius: 50%;
  color: red;
  text-align: center;
}
.single-product .single-product-info .cart-wish .heart-btn-hover {
  left: 50%;
  top: 50%;
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: red;
  box-shadow: 0 0 3px #fff;
  text-shadow: 0 0 2px #fff;
}
.single-product .single-product-info .cart-wish .single-product-add-cart:hover {
  cursor: pointer;
  color: rgb(6, 158, 6);
  box-shadow: 0 0 3px rgb(6, 158, 6);
  text-shadow: 0 0 2px rgb(6, 158, 6);
}

.recommended-product h1 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
}/*# sourceMappingURL=App.css.map */